.main-container {
  margin: 40px 70px;
  /* padding: 20px; */
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.main-container h2 {
  text-align: left;
}
