/* .item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-container img {
  display: block;
  width: 264px;
  height: 210px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-title-container {
  margin-top: 5px;
  width: 264px;
  display: flex;
  justify-content: space-between;
} */
