.item-list-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 24px;
}

.no-bookmarked-content {
  margin: 10px auto;
  /* margin-left: auto; */
}
